USE [master]
GO
/****** Object:  Database [OTobüs_BileT_Rezervasyon_SiTtemi]    Script Date: 30.05.2025 16:50:57 ******/
CREATE DATABASE [OTobüs_BileT_Rezervasyon_SiTtemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OTobüs_BileT_Rezervasyon_SiTtemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OTobüs_BileT_Rezervasyon_SiTtemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OTobüs_BileT_Rezervasyon_SiTtemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\OTobüs_BileT_Rezervasyon_SiTtemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OTobüs_BileT_Rezervasyon_SiTtemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OTobüs_BileT_Rezervasyon_SiTtemi]
GO
/****** Object:  Table [dbo].[dberzervasyonTable]    Script Date: 30.05.2025 16:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dberzervasyonTable](
	[rezervasyonID] [int] IDENTITY(1,1) NOT NULL,
	[seferID] [int] NULL,
	[m_ID] [int] NULL,
	[kolTuknumara] [tinyint] NULL,
	[ucreT] [money] NULL,
	[rezervasyonTarihi] [datetime] NULL,
 CONSTRAINT [PK_dberzervasyonTable] PRIMARY KEY CLUSTERED 
(
	[rezervasyonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbkasaTable]    Script Date: 30.05.2025 16:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbkasaTable](
	[kasa] [decimal](20, 3) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbkolTukTable]    Script Date: 30.05.2025 16:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbkolTukTable](
	[kolTukID] [int] IDENTITY(1,1) NOT NULL,
	[busID] [int] NULL,
	[kolTukno] [tinyint] NULL,
 CONSTRAINT [PK_dbkolTukTable] PRIMARY KEY CLUSTERED 
(
	[kolTukID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbmusTeriTable]    Script Date: 30.05.2025 16:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbmusTeriTable](
	[m_ID] [int] IDENTITY(1,1) NOT NULL,
	[m_ad] [varchar](30) NULL,
	[m_soyad] [varchar](30) NULL,
	[cinsiyeT] [bit] NULL,
	[phone] [tinyint] NULL,
	[mail] [nvarchar](30) NULL,
	[kimlikno] [tinyint] NULL,
 CONSTRAINT [PK_dbmusTeriTable] PRIMARY KEY CLUSTERED 
(
	[m_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dboTobusTable]    Script Date: 30.05.2025 16:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dboTobusTable](
	[busID] [int] IDENTITY(1,1) NOT NULL,
	[marka] [nvarchar](30) NULL,
	[plaka] [tinyint] NULL,
	[kolTuksayisi] [tinyint] NULL,
 CONSTRAINT [PK_dboTobusTable] PRIMARY KEY CLUSTERED 
(
	[busID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbseferTable]    Script Date: 30.05.2025 16:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbseferTable](
	[seferID] [int] IDENTITY(1,1) NOT NULL,
	[busID] [int] NULL,
	[sehirID] [int] NULL,
	[daTe] [datetime] NULL,
	[fiyaT] [decimal](15, 3) NULL,
 CONSTRAINT [PK_dbseferTable] PRIMARY KEY CLUSTERED 
(
	[seferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dbsehirTable]    Script Date: 30.05.2025 16:50:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dbsehirTable](
	[sehirID] [int] IDENTITY(1,1) NOT NULL,
	[sehir1] [varchar](20) NULL,
	[sehir2] [varchar](20) NULL,
	[mesafe_KM] [int] NULL,
 CONSTRAINT [PK_dbsehirTable] PRIMARY KEY CLUSTERED 
(
	[sehirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dberzervasyonTable]  WITH CHECK ADD  CONSTRAINT [FK_dberzervasyonTable_dbmusTeriTable] FOREIGN KEY([m_ID])
REFERENCES [dbo].[dbmusTeriTable] ([m_ID])
GO
ALTER TABLE [dbo].[dberzervasyonTable] CHECK CONSTRAINT [FK_dberzervasyonTable_dbmusTeriTable]
GO
ALTER TABLE [dbo].[dberzervasyonTable]  WITH CHECK ADD  CONSTRAINT [FK_dberzervasyonTable_dbseferTable] FOREIGN KEY([seferID])
REFERENCES [dbo].[dbseferTable] ([seferID])
GO
ALTER TABLE [dbo].[dberzervasyonTable] CHECK CONSTRAINT [FK_dberzervasyonTable_dbseferTable]
GO
ALTER TABLE [dbo].[dbkolTukTable]  WITH CHECK ADD  CONSTRAINT [FK_dbkolTukTable_dboTobusTable] FOREIGN KEY([busID])
REFERENCES [dbo].[dboTobusTable] ([busID])
GO
ALTER TABLE [dbo].[dbkolTukTable] CHECK CONSTRAINT [FK_dbkolTukTable_dboTobusTable]
GO
ALTER TABLE [dbo].[dbseferTable]  WITH CHECK ADD  CONSTRAINT [FK_dbseferTable_dboTobusTable] FOREIGN KEY([busID])
REFERENCES [dbo].[dboTobusTable] ([busID])
GO
ALTER TABLE [dbo].[dbseferTable] CHECK CONSTRAINT [FK_dbseferTable_dboTobusTable]
GO
ALTER TABLE [dbo].[dbseferTable]  WITH CHECK ADD  CONSTRAINT [FK_dbseferTable_dbsehirTable] FOREIGN KEY([sehirID])
REFERENCES [dbo].[dbsehirTable] ([sehirID])
GO
ALTER TABLE [dbo].[dbseferTable] CHECK CONSTRAINT [FK_dbseferTable_dbsehirTable]
GO
USE [master]
GO
